
html, body {
    /* background-color: #fff; */
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    /* font-weight: 200; */
    height: 50vh;
    margin: 0;
}

body {
    background-color: black !important;
}


.full-height {
    height: 50vh;
}

/* .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
} */


.top-right {
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 200;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

header .atas {
    /* background-image: url(../material/touchtech.jpg); */
    background-color: rgb(0, 0, 0) !important;
    background-size: cover;
    margin-top: 50px;
    height: 800px;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

header .jumbotron .display-4 {
    margin-top: 80px;
}

header .atas .display-4 span {
    font-weight: bold;
}

.jumbotron .garis {
    margin: auto;
    margin-top: 30px;
    border: 2px solid rgb(255, 238, 0);
    width: 10%;
}

.jumbotron .tombol {
    margin-top: 50px !important;
    margin: auto;
    background-color: rgb(255, 238, 0);
    width: 140px;
    border-radius:  30px;
    color: white;
    
}

.jumbotron .judul a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid rgb(255, 238, 0);
}
.topic .jumbo .jumbotron {
    background-image: url(../material/wall1.jpg);
    background-size: cover;
    height: 400px;
    color: white;
    z-index: 0;
}
.topic .jumbo .jumbotron:hover {
    background-size: 120%;
    background-position: center;
    
}

.topic {
    background-color: black !important;
    height: 340px;
    color: white;
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    margin-top: -340px;
    margin-right: 20px;
}
.topic .row {
    margin-top: 20px;
}
.topic .text {
    font-weight: bold;
    border-left: 4px solid rgb(255, 238, 0);
    padding-left: 6px;
}
.topic .row .picture img {
    width: 100px;
    height: 100px;
}
.topic .row .kanan {
    color: white;
    margin-left: 50px;
}

.topic .jumbo .jumbotron h1  {
    margin-top: 220px !important;
    margin-left: -20px;
}
.topic .jumbo .jumbotron .container .text1  {
    position: relative;
    z-index: 999;
}
.topic .jumbo .jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
    left: 0;
} 

footer {
    z-index: 0;
    position: relative;
    margin-top: 300px !important;
    width: 100%;
    height: 60px;
    background-color: black ;
}
hr {
    border: 0.5px solid rgba(255, 255, 255, 0.623);
    width: 100%;
}
footer .container .text2 {
    line-height: 50px;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 0.438);
    margin-left: -20px !important;
} 
footer .container .text2 span{
    letter-spacing: 10px !important;
}

.topic .row .kanan a {
    text-decoration: none;
    color: white;

}

@media (min-width: 992px) { 
    .jumbotron .judul a:hover {
        text-decoration: none;
        color: black;
        background-color: rgb(255, 238, 0);;
    } 
    .topic .row .see a:hover {
        text-decoration: none;
        color: black !important;
        background-color: rgb(255, 238, 0);
    }
    .topic .row a:hover {
        color: grey;

    }

}